h1 {font-family: 'Bubblegum Sans', cursive; text-align: center;}
h1 a {text-decoration: none !important;}

#map {
    height: 600px;
}
.explications { font-size: 90%; }
.tweet_picture, .tweet_body {float:right;}
.tweet_body{width:270px;}
.tweet_picture{width:50px;}
img { max-width: none; }
.actions {text-align:right;}
#levels a {text-align:left;}
