{% load staticfiles %}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Neige FR, tweete ta neige #neigefr</title>
    <meta name="description" content="Tu twittes ta neige, ça apparaît sur la carte. Yahou.">
    <meta name="author" content="Bruno Bord">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-responsive.min.css" %}"  rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link href='http://fonts.googleapis.com/css?family=Bubblegum+Sans' rel='stylesheet' type='text/css'>
    <link href="{% static "snowflake_favicon.png" %}" rel="shortcut icon" />

    {% include "_head_js.html" %}
</head>
<body onload="initialize()">
<div class="container">
    {% block content %}{% endblock %}

    {% include "_footer.html" %}
</div>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>
{% if not debug %}
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2980397-12']);
_gaq.push(['_setDomainName', 'neigefr.org']);
_gaq.push(['_setAllowLinker', true]);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
{% endif %}
</body>
</html>
