body {font-family: 'Vollkorn', cursive;}
h1 {font-family: 'Bubblegum Sans', cursive; text-align: center;}
#map { height: 100%; }
.map { height: 600px; }
.explications { font-size: 70%; }
q { font-style: italic; }
ul {padding-left: .5em;}
#footer { font-size: 60%; text-align: right; border-top: 1px solid #777; margin-top: 1em;}
