<script src="{{ STATIC_URL }}js/mqa.toolkit.js"></script>

<script type="text/javascript">

    MQA.EventUtil.observe(window, 'load', function() {

    /*Create an object for options*/
    var options={
        elt:document.getElementById('map'),
        zoom:6,
        latLng:{lat:46.599722, lng:1.496667},
        mtype:'osmsat',
        bestFitMargin:0,
        zoomOnDoubleClick:true
    };

    /*Construct an instance of MQA.TileMap with the options object*/
    window.map = new MQA.TileMap(options);

    {% for snowflake in object_list %}
    var flake = new MQA.Poi({lat:{{snowflake.latitude}}, lng:{{ snowflake.longitude}} });
    var icon = new MQA.Icon("{{ STATIC_URL }}js/img/marker.png", {{ snowflake.flakesize }}, {{ snowflake.flakesize }});
    flake.setIcon(icon);
    flake.setShadowOffset({x:0,y:0});
    flake.setInfoContentHTML("{{ snowflake.zipcode }}{% if snowflake.rank %} ({{ snowflake.rank }}/10), par <a target='_blank' href='https://twitter.com/#!/{{ snowflake.tweet_object.from_user }}/status/{{ snowflake.tweet_id }}'>{{ snowflake.tweet_object.from_user_name }}</a>{% endif %}");
    map.addShape(flake);
    {% endfor %}
});

</script>

<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2980397-12']);
_gaq.push(['_setDomainName', 'neigefr.org']);
_gaq.push(['_setAllowLinker', true]);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>