<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_KEY }}&sensor=false"></script>
<script type="text/javascript">
	function initialize() {
		var myOptions = {
			center: new google.maps.LatLng(46.9, 1.3),
			zoom: 6,
			mapTypeId: google.maps.MapTypeId.SATELLITE
		};
		var map = new google.maps.Map(document.getElementById("map"), myOptions);
		var snowflakes = Array();
{% for snowflake in object_list %}
		snowflakes.push(new google.maps.Marker({
				position: new google.maps.LatLng({{snowflake.latitude}}, {{ snowflake.longitude}}),
				map: map,
				icon: new google.maps.MarkerImage('{{ STATIC_URL }}snowflake_icon.png',
				new google.maps.Size(32, 32),
				new google.maps.Point(0,0),
				new google.maps.Point(32, 32),
				new google.maps.Size({{ snowflake.flakesize }}, {{ snowflake.flakesize }})
			),
				title: "{{ snowflake.zipcode }}{% if snowflake.rank %} ({{ snowflake.rank }}/10){% endif %}"}
 ));
{% endfor %}
	}

</script>


<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2980397-12']);
_gaq.push(['_setDomainName', 'neigefr.org']);
_gaq.push(['_setAllowLinker', true]);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
