<script type="text/javascript" src="{{ STATIC_URL }}js/OpenLayers.js"></script>
<script type="text/javascript">
        var map, layer;
        function initialize(){
            map = new OpenLayers.Map('map');
            layer = new OpenLayers.Layer.OSM("France");
            map.addLayer(layer);

            var newl = new OpenLayers.Layer.Text( "text", { location:'{% url text %}'} );
            map.addLayer(newl);

            map.setCenter(
                new OpenLayers.LonLat(2.496667, 46.599722).transform(
                    new OpenLayers.Projection("EPSG:4326"),
                    map.getProjectionObject()
                ), 6
            );

        }
</script>

<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2980397-12']);
_gaq.push(['_setDomainName', 'neigefr.org']);
_gaq.push(['_setAllowLinker', true]);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>