<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Neige FR, tweete ta neige #neigefr</title>
	<meta name="description" content="Tu twitte ta neige, ça apparaît sur la carte. Yahou.">
	<meta name="author" content="Bruno Bord">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/skeleton.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/layout.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link href="http://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Bubblegum+Sans' rel='stylesheet' type='text/css'>
	<link href="{{ STATIC_URL }}snowflake_icon.png" rel="shortcut icon" />
	{% include "_head_js.html" %}
</head>
<body>
<div class="container">
	{% block content %}{% endblock %}

	{% include "_footer.html" %}
</div>
</body>
</html>