{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="page-header span7">
		<h1><a href="{% url index %}">#neigefr <small>Twitte ta neige !</small></a></h1>
	</div>
</div>

<div class="row">

	<div class="span7 explications">
	<h2>Foire Aux Questions</h2>
	<h3>1. Je viens de twitter avec le hashtag #neigefr, et je n'apparais pas !</h3>
	<p>C'est normal. Il y a un délai maximum de 5mn entre le tweet et son apparition
	effective sur la carte.</p>
	<p>Il se peut aussi que ton tweet ne soit pas complet. Il faut bien s'assurer
		qu'il comporte :</p>
	<ul>
		<li>Le hashtag <q>#neigefr</q></li>
		<li>un code postal basé en France: 75008, 64100, 33880...</li>
	</ul>
	<hr />

	<h3>2. J'ai twitté ce matin, et mon flocon n'apparaît plus...</h3>
	<p>C'est normal. On ne peut pas imaginer conserver tous les tweets et
		les afficher sur la carte indéfiniment. Au bout de 4h maximum, chaque
		tweet / flocon disparaît de la carte. Si la neige persiste, renvoie
		un nouveau message et le flocon apparaîtra de nouveau.</p>
	<hr />

	<h3>3. J'ai bien renseigné mon tweet, mais le flocon est décalé de plusieurs
		kilomètres.</h3>
	<p>C'est (presque) normal. En fait, je n'ai pas enregistré tous les codes
		postaux et toutes les coordonnées GPS de toutes les communes de France.
		Aussi, quand tu tweetes un code postal, je demande à Google Maps
		de m'en donner sa latitude et sa longitude. Il se peut que cette
		donnée soit fausse. Ou imprécise. C'est la faute à Google.</p>
	<p>On a un autre soucis : un code postal ne correspond pas une <strong>unique</strong>
		commune et donc à une <strong>unique</strong> coordonnée lat/long. Il faudra
		se contenter de cette imprécision. Tant qu'on n'aura pas correspondance exacte
		entre un code postal et une commune, on n'aura pas mieux.</p>
	</div>
</div>

{% endblock %}