{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="page-header span12">
		<h1><a href="{% url index %}">#neigefr <small>Twitte ta neige !</small></a></h1>
	</div>
</div>

<div class="row">
		<div id="map" class="span8"></div>


	<div class="span4 explications">
	<h3>Comment ça marche ?</h3>

<p>N'importe quel twittos, dès qu'il voit des machins blancs tomber du ciel, l'hiver,
il peut twitter comme suit :</p>

    <q>LOL il neige #neigefr 75008 3/10 MDR</q>

<p>Les éléments indispensables sont :</p>

<ul>
	<li><em>"#neigefr"</em> : c'est le hashtag <strong>OFFICIEL</strong></li>
	<li><em>"75008"</em>: c'est le code postal de l'endroit où tombe la neige.</li>
</ul>

<p>De manière optionnelle, tu peux ajouter un <em>"niveau"</em> sur 10 qui indique à quel
point il est en train de neiger. À titre indicatif :</p>

<ul>
<li><strong>7/10</strong> ou plus - Tempête de neige !</li>
<li><strong>5/10</strong> ou <strong>6/10</strong> - Solide averse</li>
<li><strong>3/10</strong> ou <strong>4/10</strong> - Petite averse</li>
<li><strong>1/10</strong> ou <strong>2/10</strong> - Quelques flocons</li>
<li><strong>0/10</strong> - Y'a plus la neige... :-(</li>
</ul>

<p>Avec un peu de chances, ton tweet viendra enrichir la carte de l'enneigement
en France sur <a href="http://neigefr.org">Neige FR</a>.</p>

<p>Si certaines questions restent sans réponse : <a href="{% url faq %}">La Foire Aux Questions</a> est
là pour y répondre.</p>

<p><strong>Avertissement !</strong> On peut dire que ce site en est à sa
première neige, la peinture est encore assez fraîche. Aussi, merci de bien
vouloir excuser les différents bugs... et éventuellement <a href="https://github.com/brunobord/neigefr/issues/">les signaler</a>.</p>
	</div>

</div>

{% endblock %}