<!DOCTYPE html>
<html>
<head>
	<title>Neige FR, tweete ta neige #neigefr</title>
	<style type="text/css">
	#map { height: 100%; }
	</style>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}960.css">
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_KEY }}&sensor=false"></script>
	<script type="text/javascript">
      function initialize() {
        var myOptions = {
          center: new google.maps.LatLng(46.9, 1.3),
          zoom: 6,
          mapTypeId: google.maps.MapTypeId.TERRAIN
        };
        var map = new google.maps.Map(document.getElementById("map"), myOptions);
        var snowflake_icon = new google.maps.MarkerImage('{{ STATIC_URL }}snowflake_icon.png',
      // This marker is 20 pixels wide by 32 pixels tall.
      new google.maps.Size(32, 32),
      // The origin for this image is 0,0.
      new google.maps.Point(0,0),
      // The anchor for this image is the base of the flagpole at 0,32.
      new google.maps.Point(16, 16));

	    var snowflakes = Array();
{% for snowflake in object_list %}
		snowflakes.push(new google.maps.Marker({
			position: new google.maps.LatLng({{snowflake.latitude}}, {{ snowflake.longitude}}),
			map: map,
			icon: snowflake_icon,
			title: "{{ snowflake.zipcode }}{% if snowflake.rank %} ({{ snowflake.rank }}/10){% endif %}"}
	 ));
{% endfor %}
      }

    </script>

</head>
<body onload="initialize()">
<div class="container_12">

  <div class="grid_3">
    <p>
      Stuff
    </p>
  </div>
  <!-- end .grid_3 -->
  <div class="grid_9" style="border: 2px solid black; height: 600px;">
  		<div id="map" style="width:100%; height:100%"></div>
  </div>
  <!-- end .grid_9 -->
  <div class="clear"></div>


</div>
</body>
</html>